@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F2EDE4;
}

body {
  background-color: var(--bg);
  color: #20201C;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #D8CFBF;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a9a6a0;
}
